<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.MSettingOrderRuleMapper">
    
    <resultMap type="MSettingOrderRule" id="MSettingOrderRuleResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="language"    column="language"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMSettingOrderRuleVo">
        select id, content, language, create_by, create_time, update_by, update_time from m_setting_order_rule
    </sql>

    <select id="selectMSettingOrderRuleList" parameterType="MSettingOrderRule" resultMap="MSettingOrderRuleResult">
        <include refid="selectMSettingOrderRuleVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="language != null  and language != ''"> and language = #{language}</if>
        </where>
    </select>
    
    <select id="selectMSettingOrderRuleById" parameterType="Long" resultMap="MSettingOrderRuleResult">
        <include refid="selectMSettingOrderRuleVo"/>
        where id = #{id}
    </select>

    <insert id="insertMSettingOrderRule" parameterType="MSettingOrderRule" useGeneratedKeys="true" keyProperty="id">
        insert into m_setting_order_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="language != null">language,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="language != null">#{language},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMSettingOrderRule" parameterType="MSettingOrderRule">
        update m_setting_order_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="language != null">language = #{language},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMSettingOrderRuleById" parameterType="Long">
        delete from m_setting_order_rule where id = #{id}
    </delete>

    <delete id="deleteMSettingOrderRuleByIds" parameterType="String">
        delete from m_setting_order_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据语种查询 -->
    <select id="selectByLang" parameterType="String" resultMap="MSettingOrderRuleResult">
        <include refid="selectMSettingOrderRuleVo"/>
        where language = #{language}
        order by create_time
        limit 1
    </select>

</mapper>